@import url('https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,700;1,400&display=swap');

/* General styling to whole page */
body {
    font-family: Marvel, sans-serif;
    background-color: #F7B32B;



}

/* heading area */
#heading {
    text-align: center;
    width: 75%;
    border: 5px solid black;
    margin: auto;
    
}

.logo {
    font-size: 80px;
    color: #381741;
    text-shadow: 2px 2px 4px #E3170A;
    }

/* Start button area*/

#start-btn {
    font-size: 50px;
    border-radius: 13px;
    border: 1px;
    background-color: #E3170A;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 32%);
    color: antiquewhite;
    padding: 15px;
    width: 50%;
    height: 200px;
    margin: auto;
    cursor: pointer;
}

#start-btn:hover {
    background-color: antiquewhite;
    color: #E3170A;
}

/* Questions Area*/

.main-area {
    text-align: center;
    max-width: 75%;
    border: 5px solid black;
    border-radius: 10px;
    margin: auto;
    padding-top: 10px;
}

#questions {
    font-size: xx-large;
    font-weight: bold;
    padding: 25px;
}

/* #question-panel {
    border: 2px solid black;
    width: 50%;
    display: inline-block;
} */

/* Answer Buttons*/

.answer-btn {
    font-size: 23px;
    border-radius: 13px;
    border: 1px;
    background-color: #E3170A;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 50%);
    color: antiquewhite;
    padding: 15px;
    width: 50%;
    margin: 25px;
    cursor: pointer;
}

.answer-btn:hover {
    background-color: antiquewhite;
    color: #E3170A;
}
/*
#btn2 {
    font-size: 23px;
    border-radius: 13px;
    border: 1px;
    background-color: #E3170A;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 32%);
    color: antiquewhite;
    padding: 15px;
    width: 50%;
    margin: auto;
    cursor: pointer;
}

#btn2:hover {
    background-color: antiquewhite;
    color: #E3170A;
}

#btn3 {
    font-size: 23px;
    border-radius: 13px;
    border: 1px;
    background-color: #E3170A;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 32%);
    color: antiquewhite;
    padding: 15px;
    width: 50%;
    margin: auto;
    cursor: pointer;
}

#btn3:hover {
    background-color: antiquewhite;
    color: #E3170A;
}

#btn4 {
    font-size: 23px;
    border-radius: 13px;
    border: 1px;
    background-color: #E3170A;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 32%);
    color: antiquewhite;
    padding: 15px;
    width: 50%;
    margin: auto;
    cursor: pointer;
}

#btn4:hover {
    background-color: antiquewhite;
    color: #E3170A;
}
*/
.correct-btn {
    background-color: #03C04A;
    color: black;
}

.incorrect-btn {
    background-color: #381741;
}

#submit-btn {
    font-size: 23px;
    border-radius: 13px;
    border: 1px;
    background-color: #A9e5BB;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 32%);
    color: #2d1e2f;
    padding: 15px;
    margin-top: 30px;
    cursor: pointer;
}

#submit-btn:hover {
    background-color: #2d1e2f;
    color: #A9e5BB;
}


/* Score area */


#score-panel {
    text-align: center;
    width: 75%;
    border: 5px solid black;
    margin: auto;
    padding-top: 10px;
    ;
}

.score-area {
    margin: 5px auto;
    width: 60%;
    font-size: 1.2rem;
}

.scores {
    font-size: x-large;
    display: inline-block;
    padding: 25px;
}

/* Username Area */
#username-area {
    text-align: center;
    width: 75%;
    border: 5px solid black;
    margin: auto;
    padding-top: 10px;
    ;
}

.congrats-message {
    font-size: xx-large;
    text-shadow: 2px 2px 4px #E3170A;
    padding: 15px;
}

.enter-name {
    font-size: xx-large;
    padding: inherit;

}

.username {
    font-size: x-large;
    padding: inherit;
}

#username-submit-btn {
    font-size: 20px;
    background-color: #E3170A;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 32%);
    color: antiquewhite;
    width: 20%;
    margin: 15px;
    cursor: pointer;
}

#username-submit-btn:hover {
    background-color: antiquewhite;
    color: #E3170A;
}

/* Leader Board Area */
#leader-board {
    text-align: center;
    width: 75%;
    border: 5px solid black;
    margin: auto;
    padding-top: 10px;
}

#board-header {
    font-size: xx-large;
    text-shadow: 2px 2px 4px #E3170A;
    padding: 15px;
}

#container {
    width: auto;
    height: auto;
}

.row {
    display: inline;
    border-bottom: 1px solid #381741;
}

.name {
    position: relative;
    display: inline-block;
    width: 50%;
    line-height: 45px;
}

.hidden {
    display: none;
}