@import url('https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,700;1,400&display=swap');

/* General styling to whole page */
body {
    font-family: Marvel, sans-serif;


}

/* heading area */
#heading {
    text-align: center;
    width: 75%;
    border: 5px solid black;
    margin: auto;
    ;
}

.logo {
    font-size: 80px;
    color: #381741;
    text-shadow: 2px 2px 4px #E3170A;
}

/* Question choice area*/
.choice-panel {
    text-align: center;
    width: 75%;
    border: 5px solid black;
    margin: auto;
    padding: 10px 0 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2px;

}

#movie-image {
    width: 50%;
    height: auto;
    clear: both;
    object-fit: cover;
}

#tv-image {
    width: 50%;
    height: auto;
    clear: both;
    object-fit: cover;
}

/* Questions Area*/

#questions-panel {
    text-align: center;
    width: 75%;
    border: 5px solid black;
    margin: auto;
    padding-top: 10px;
}

.question-area {
    border: 2px solid black;
    width: 50%;
    display: inline-block;
}

/* Answer Buttons*/

.answer-area {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

#btn1 {
    font-size: 23px;
    border-radius: 13px;
    border: 1px;
    background-color: #E3170A;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 32%);
    color: antiquewhite;
    padding: 15px;
    width: 50%;
    margin: auto;
    cursor: pointer;
}

#btn1:hover {
    background-color: antiquewhite;
    color: #E3170A;
}

#btn2 {
    font-size: 23px;
    border-radius: 13px;
    border: 1px;
    background-color: #E3170A;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 32%);
    color: antiquewhite;
    padding: 15px;
    width: 50%;
    margin: auto;
    cursor: pointer;
}

#btn2:hover {
    background-color: antiquewhite;
    color: #E3170A;
}

#btn3 {
    font-size: 23px;
    border-radius: 13px;
    border: 1px;
    background-color: #E3170A;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 32%);
    color: antiquewhite;
    padding: 15px;
    width: 50%;
    margin: auto;
    cursor: pointer;
}

#btn3:hover {
    background-color: antiquewhite;
    color: #E3170A;
}

#btn4 {
    font-size: 23px;
    border-radius: 13px;
    border: 1px;
    background-color: #E3170A;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 32%);
    color: antiquewhite;
    padding: 15px;
    width: 50%;
    margin: auto;
    cursor: pointer;
}

#btn4:hover {
    background-color: antiquewhite;
    color: #E3170A;
}

.btn-submit {
    font-size: 23px;
    border-radius: 13px;
    border: 1px;
    background-color: #A9e5BB;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 32%);
    color: #2d1e2f;
    padding: 15px;
    margin-top: 30px;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #2d1e2f;
    color: #A9e5BB;
}


/* Score area */


#score-panel {
    text-align: center;
    width: 75%;
    border: 5px solid black;
    margin: auto;
    padding-top: 10px;
    ;
}

.score-area {
    margin: 5px auto;
    width: 60%;
    font-size: 1.2rem;
}

.scores {
    font-size: x-large;
    display: inline-block;
    padding: 25px;
}

/* Username Area */
#username {
    text-align: center;
    width: 75%;
    border: 5px solid black;
    margin: auto;
    padding-top: 10px;
    ;
}


/* Leader Board Area */
#leader-board {
    text-align: center;
    width: 75%;
    border: 5px solid black;
    margin: auto;
    padding-top: 10px;
    ;
}