@import url('https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,700;1,400&display=swap');

/* General styling to whole page */
body {
    font-family: Marvel, sans-serif;
    background: url('../images/background_image.jpg') center center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 150vh;
}

/* heading area */
#heading {
    text-align: center;
    width: 55%;
    margin: auto;
    padding-top: 15px;

}

/* Quiz page logo */
.logo {
    font-size: 80px;
    color: #381741;
    text-shadow: 2px 2px 5px #e3170a;
    margin-top: 2px;
    border: 2px solid black;
    border-radius: 10px;
    background: whitesmoke;
    opacity: 0.95;
}

/* Start button area*/
#start-btn {
    font-size: 50px;
    border-radius: 13px;
    border: 1px;
    background-color: #381741;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 32%);
    color: antiquewhite;
    width: 75%;
    height: 200px;
    margin: auto;
    cursor: pointer;
}

#start-btn:hover {
    background-color: antiquewhite;
    color: #381741
}

/* Restart button*/
#restart-btn {
    font-size: 45px;
    border-radius: 13px;
    border: 1px;
    background-color: #381741;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 32%);
    color: antiquewhite;
    width: 75%;
    height: 100px;
    margin: auto;
    cursor: pointer;
    opacity: 1;
    padding: unset;
}

#restart-btn:hover {
    background-color: antiquewhite;
    color: #381741;
}


/* Questions Area*/
.main-area {
    text-align: center;
    max-width: 55%;
    border: 2px solid black;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    background: whitesmoke;
    opacity: 0.95;
}

#questions {
    font-size: xx-large;
    font-weight: 700;
    padding: 25px;
}

/* Answer Buttons*/
.answer-btn {
    font-size: 23px;
    border-radius: 13px;
    border: 1px;
    background-color: #381741;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 50%);
    color: #faebd7;
    padding: 12px;
    width: 40%;
    margin: 10px;
    cursor: pointer;
}

.correct-btn {
    background-color: #07FF66;
    color: black;
}

.incorrect-btn {
    background-color: #AE0D01;
    color: #FFFFFF;
}

/* Next button*/
#next-btn {
    font-size: 22px;
    font-weight: 700;
    border-radius: 13px;
    border: 1px;
    background-color: #A9e5BB;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 32%);
    color: #2d1e2f;
    padding: 5px;
    margin: 9px;
    width: 27%;
    cursor: pointer;
}

#next-btn:hover {
    background-color: #2d1e2f;
    color: #A9e5BB;
}

/* Score Area*/
.score-area {
    display: flex;
    justify-content: space-between;
}

.counters {
    font-size: xx-large;
    padding: 5px 25px 5px 25px;
    margin: 5px;
}

/* Username Area*/
#username-area {
    text-align: center;
    max-width: 55%;
    border: 2px solid black;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    background: whitesmoke;
    opacity: 0.90;
}

.congrats-message {
    font-size: xx-large;
    text-shadow: 2px 2px 4px #E3170A;
    padding: 15px;
    margin-bottom: 10px;
}

#enter-name {
    font-size: xx-large;
    padding: inherit;

}

#username {
    font-size: x-large;
    padding: 4px;
    border-radius: 9px;
}

#submit-btn {
    font-size: 22px;
    font-weight: 700;
    border-radius: 13px;
    border: 1px;
    background-color: #A9e5BB;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 32%);
    color: #2d1e2f;
    padding: 5px;
    margin: 9px;
    width: 27%;
    cursor: pointer;
}

#submit-btn:hover {
    background-color: #2d1e2f;
    color: #A9e5BB;
}

/*Used to hide various bits of code until needed*/
.hidden {
    display: none;
}


/*Media Queries*/
@media screen and (max-width: 1300px) {
    .logo {
        font-size: 80px;
        padding-top: 20px;
    }

    .main-area {
        max-width: 75%;
        padding: 18px;
    }

    .answer-btn {
        font-size: 21px;
        border: 1px;
        width: 35%;
        margin: 6px;
    }

    #next-btn,
    #submit-btn {
        margin-top: 15px;
    }

    #finish-game {
        font-size: x-large;
        margin: 10px;
    }

    #username-area {
        max-width: 75%;
    }

    #user {
        font-size: 30px;
        margin-right: 5px;
    }

}

/*Media queries for tablet sized screens*/
@media screen and (max-width: 950px) {
    .logo {
        font-size: 80px;
        padding-top: 1px;
        margin-bottom: 31px;
    }

    .answer-btn {
        font-size: 16px;
        border: 1px;
        width: 32%;
        margin: 6px;
    }


    #username-area {
        max-width: 88%;

    }

    #username {
        font-size: large;
        padding: 4px;
    }

    #user {
        font-size: 23px;
        margin-right: 5px;
    }
}

/* media queries for mobile*/
@media screen and (max-width:650px) {
    .logo {
        font-size: 40px;
        padding-top: unset;
    }

    #start-btn {
        font-size: xx-large;
        width: 75%;
    }

    #restart-btn {
        font-size: 25px;
        height: 50px;
        width: 80%;
    }

    .main-area {
        max-width: 65%;
    }

    #questions {
        font-size: large;
        padding: inherit;
    }

    .answer-btn {
        font-size: 13px;
        border: 1px;
        width: 40%;
        margin: 6px;
    }

    #next-btn,
    #submit-btn {
        font-size: 17px;
        width: 34%;
        font-weight: 400;
        padding: unset;
    }


    .counters {
        font-size: inherit;
        padding: inherit;
        margin: unset;
    }

    .congrats-message {
        font-size: 25px;

    }

    #finish-game {
        font-size: inherit;

    }

    #username {
        font-size: inherit;
        border-radius: 9px;
        padding: 3px;
    }

    #user {
        font-size: inherit;

    }

}

/* Media queries for small devices*/
@media screen and (max-width:400px) {
    .logo {
        font-size: 37px;
        padding-top: unset;
    }

    #start-btn {
        font-size: xx-large;
        width: 75%;
        margin-bottom: 5px;
    }

    #restart-btn {
        font-size: 17px;
        height: 45px;
        width: 80%;
    }

    .main-area {
        max-width: 57%;
    }

    #questions {
        font-size: medium;
        padding: inherit;
    }

    .answer-btn {
        font-size: 11px;
        border: 1px;
        width: 50%;
        margin: 6px;
    }

    #next-btn,
    #submit-btn {
        font-size: 14px;
        width: 34%;
        font-weight: 400;
        padding: unset;
    }


    .counters {
        font-size: inherit;
        padding: inherit;
        margin: unset;
    }

    .congrats-message {
        font-size: 20px;
    }

    #finish-game {
        font-size: small;

    }

    #username {
        font-size: small;
        padding: 3px;
    }

    #user {
        font-size: inherit;
    }

}